{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <h1>FAREPAY Balance Tracker</h1>
    <h2><small>A Practical Learning Project</small></h2>
    <h2>Project Goals</h2>
    <ul>
        <li>Track balances of FAREPAY cards</li>
        <li>Notify user when FAREPAY card reaches a balance threshold</li>
        <li>Allow management of cards via web interface</li>
        <li>At least dip my toe into the water of several useful technolobies</li>
        <li>Keep the application in version control</li>
        <li>Deploy the application to a server</li>
    </ul>
    <h2>Technologies Used</h2>
    <ul>
        <li>Flask</li>
        <li>SQLAlchemy</li>
        <li>BeautifulSoup</li>
        <li>Bootstrap</li>
        <li>Pushover</li>
        <li>Chart.js</li>
    </ul>
</div>
{% endblock %}
