<form role="form">
    <div class="alert alert-info">
        <strong>Last Update: </strong>{{ card.lastUpdate.strftime('%b %d, %Y, %I:%M %p') }}
    </div>
    <div class="form-group">
        <label for"cardNumber">Card Number:</label>
        <input type="text" class="form-control" id="cardNumber" name="cardNumber" value="{{ card.cardNumber }}" readonly>
    </div>
    <div class="form-group">
        <label for"cardDescription">Card Description:</label>
        <input type="text" class="form-control" id="cardDescription" name="cardDescription" value="{{ card.description }}">
    </div>
    <table class="table">
        <tr>
            <td>
                <div class="form-group">
                    <label for="lastBalance">Card Balance:</label>
                    <input type="text" class="form-control" id="lastBalance" name="lastBalance" value="{{ "$%.2f" | format(card.lastBalance) }}" readonly>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="tripsRemaining">Trips Remaining:</label>
                    <input type="text" class="form-control" id="tripsRemaining" name="tripsRemaining" value="{{ card.tripsRemaining }}" readonly>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="makeEvenAmount">Make Even Amount:</label>
                    <input type="text" class="form-control" id="makeEvenAmount" name="makeEvenAmount" value="{{ "$%.2f" | format(card.makeEvenAmount) }}" readonly>
                </div>
            </td>
        </tr>
    </table>
    <div class="checkbox">
        <label><input type="checkbox"{% if card.active %} checked{% endif %} disabled> Active</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox"{% if card.companyCard %} checked{% endif %} disabled> Company Card</label>
    </div>
</form>
