{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% set alerts = [] %}
<div class="container">
    <h1>Card Information</h1>
    <ul class="nav nav-tabs" id="cards-table">
        <li class="active"><a href="#tab_active" data-toggle="tab">Active Cards</a></li>
        <li><a href="#tab_inactive" data-toggle="tab">Inactive Cards</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_active">
            <table class="table table-condensed table-bordered table-responsive table-hover">
                <tr>
                    <th>Description</th>
                    <th>Balance</th>
                    <th>Trips remaining</th>
                    <th>Action</th>
                </tr>
                {% for card in active_cards %}
                <tr>
                    <td><a href="#" class="viewCard" data-id="{{ card.card_id }}">{{ card.description }}</a></td>
                    <td>{{ "$%.2f" | format(card.lastBalance) }}</td>
                    <td>{{ card.tripsRemaining }}</td>
                    <td><a href="/deactivate/{{ card.card_id }}">Deactivate</a></td>
                </tr>
                {% if card.makeEvenAmount > 0 %}
                {# Over-engineered to solve another problem. This implementation method is #}
                {# probably no longer (or ever was) necessary, but I'm too lazy to change it now. #}
                {% set message_list = [] %}
                {% do message_list.append(card.description) %}
                {% do message_list.append("needs") %}
                {% do message_list.append("$%.2f" | format(card.makeEvenAmount)) %}
                {% do message_list.append("added to get the maximum use out of the card.") %}
                {% do alerts.append({"level": "warning", "message": (message_list|join(" "))}) %}
                {% endif %}
                {% else %}
                <tr>
                    <td colspan=4>No cards found</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="tab_inactive">
            <table class="table table-condensed table-bordered table-responsive table-hover">
                <tr>
                    <th>Description</th>
                    <th>Balance</th>
                    <th>Trips remaining</th>
                    <th>Action</th>
                </tr>
                {% for card in inactive_cards %}
                <tr>
                    <td><a href="#" class="viewCard" data-id="{{ card.card_id }}">{{ card.description }}</a></td>
                    <td>{{ "$%.2f" | format(card.lastBalance) }}</td>
                    <td>{{ card.tripsRemaining }}</td>
                    <td><a href="/reactivate/{{ card.card_id }}">Reactivate</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan=4>No cards found</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addCard">Add Card</button>
    <!-- Add card modal -->
    <div class="modal fade" id="addCard" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add FAREPAY Card</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="/add" method="post">
                        <div class="form-group">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="Last 16 digits of card number">
                        </div>
                        <div class="form-group">
                            <label for="cardDescription">Description</label>
                            <input type="text" class="form-control" id="cardDescription" name="cardDescription" placeholder="Card description (e.g. April work card)">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" checked name="companyCard"> Company Card</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Card</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Card detail modal -->
    <div class="modal fade" id="viewCardDialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FAREPAY Card Detail</h4>
                </div>
                <div class="modal-body" id="viewCardBody">
                    <h1>This is the modal body</h1>
                    <p>Does this even show up anywhere?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% set totalOnCards = active_cards|sum(attribute='lastBalance') %}
    {% set commutesPassed = (monthInfo.monthWorkDays * 2) - (monthInfo.remainingWorkDays * 2) %}
    {% set commutesRemaining = (monthInfo.monthWorkDays * 2) - commutesPassed %}
    {% if (totalOnCards / costPerTrip) | int > commutesRemaining %}
    {% set coveredCommutes = commutesRemaining %}
    {% set uncoveredCommutes = 0 %}
    {% else %}
    {% set coveredCommutes = (totalOnCards / costPerTrip) | int %}
    {% set uncoveredCommutes = (monthInfo.monthWorkDays * 2) - (commutesPassed + coveredCommutes) %}
    {% endif %}
    {% set totalCost = (monthInfo.monthWorkDays * 2 * costPerTrip) %}
    {% set coveredCost = 75 %}
    {% set myCost = totalCost - coveredCost %}
    {% if uncoveredCommutes > 0 %}
    {% set message_text = [] %}
    {% do message_text.append("There are insufficient funds on the active cards to cover this month's remaining trips. You will need ") %}
    {% do message_text.append("$%.2f" | format(uncoveredCommutes* costPerTrip)) %}
    {% do message_text.append(" more to cover the remaining trips.") %}
    {% do alerts.append({'level': 'danger', 'message': ''.join(message_text) }) %}
    {% endif %}
    <hr>
    <!-- The three info panels -->
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Monthly Commute Coverage</h3>
                </div>
                <div class="panel-body">
                    <canvas id="monthprogress"></canvas>
                    <p>This month will require up to {{ monthInfo.monthWorkDays * 2 }} trips.</p>
                    <p>There are up to {{ monthInfo.remainingWorkDays * 2 }} remaining trips this month.</p>
                    <p>The currently active {% if active_cards|length > 1 %}cards{% else %}card{% endif %} will provide enough for {{ (totalOnCards / costPerTrip) | int }} trips.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Monthly Cost Breakdown</h3>
                </div>
                <div class="panel-body">
                    <canvas id="monthcost"></canvas>
                    <p>This month's commute will cost up to {{ "$%.2f" | format(monthInfo.monthWorkDays * 2 * costPerTrip) }}.</p>
                    <p>Assuming the usual $75.00 company card, {{ "$%.2f" | format((monthInfo.monthWorkDays * 2 * costPerTrip) - 75) }} of that total will be out of pocket.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Messages</h3>
                </div>
                <div class="panel-body">
                    {% for alert in alerts %}
                    <div class="alert alert-{{ alert.level }}">
                        <p>{{ alert.message }}<p>
                    </div>
                    {% else %}
                    <div class="alert alert-success">
                        <p>Everything looks good go go!<p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> <!-- End of main container div -->
<!-- Month Commute Status Data -->
<script>
    var monthdata = [
    {
        value: {{ commutesPassed }},
        color:"#777777",
        highlight: "#888888",
        label: "Commutes passed"
    },
    {
        value: {{ coveredCommutes }},
        color: "#5CB85C",
        highlight: "#6DC96D",
        label: "Trips covered"
    },
    {
        value: {{ uncoveredCommutes }},
        color: "#D9534F",
        highlight: "#EA6460",
        label: "Uncovered trips"
    }
    ]
    var monthprogress = document.getElementById('monthprogress').getContext('2d');
    var MonthProgressDoughnutChart = new Chart(monthprogress).Doughnut(monthdata, {
        responsive: true
    });
</script>
<!-- Montly cost data -->
<script>
    var costdata = [
    {
        value: {{ coveredCost }},
        color: "#D9534F",
        highlight: "#EA6460",
        label: "AG Card"
    },
    {
        value: {{ myCost }},
        color: "#5CB85C",
        highlight: "#6DC96D",
        label: "Out of pocket"
    }
    ]
    var monthcost = document.getElementById('monthcost').getContext('2d');
    var MonthCostDoughnutChart = new Chart(monthcost).Doughnut(costdata, {
        responsive: true,
        tooltipTemplate: "{% raw %}<%if (label){%><%=label%>: <%}%>$<%= value.toFixed(2) %>{% endraw %}"
    });
</script>
<script>
    $(document).on('click', '.viewCard', function(e) {
        e.preventDefault();
        $('#viewCardBody').html('');
        $('#viewCardBody').addClass('loader');
        $('#viewCardDialog').modal('show');
        $.post('_cardinfo',
            {id: $(this).attr('data-id') },
            function(html) {
                $("#viewCardBody").removeClass('loader');
                $("#viewCardBody").html(html);
            }
        );
    });
</script>
{% endblock %}
